<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Cart</h1>
<a href="/">Quay lại cửa hàng</a>
<table border="1">
    <thead>
    <tr>
        <th>STT</th>
        <th>Tên sản phẩm</th>
        <th>Giá tiền</th>
        <th>Số Lượng</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product,status:${cart}">
        <td th:text="${status.count}"></td>
        <td th:text="${product.key.name}"></td>
        <td th:text="${product.key.price}"></td>
        <td>
            <a th:href="@{/changequantity(id=${product.key.id},expression='+')}">+</a>
            <span th:text="${product.value}"></span>
            <a th:href="@{/changequantity(id=${product.key.id},expression='-')}">-</a>
        </td>
    </tr>
    </tbody>
</table>
<p>Tổng tiền: <span th:text="${total}"></span></p>
</body>
</html>