<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>x</title>
</head>
<body>
<h1>Detail Product</h1>
<a href="/">Quay lại</a>
<div th:object="${product}">
    <p>Name: <span th:text="*{name}"></span></p>
    <p>Description: <span th:text="*{description}"></span></p>
    <p>Price: <span th:text="*{price}"></span></p>
    <img th:src="*{urlImg}" th:alt="*{name}" style="width: 200px">

    <a th:href="@{/addToCart(id=*{id})}">Thêm vào giỏ hàng</a>
</div>

</body>
</html>