<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="~{Common::css}"></th:block>
</head>
<body>
<h1 class="text-success text-center">Create Blog</h1>
<div class="container mb-5">
    <a class="btn btn-primary m-5" href="/blog/">Return</a>
    <form class="form-control p-5" action="/blog/create" method="post" th:object="${blog}">

        <div>
            <label>Blog name</label>
            <input class="form-control" type="text" th:field="*{blogName}" required placeholder="Enter Blog name">
        </div>
        <div>
            <label>Authority</label>
            <input class="form-control" type="text" th:field="*{authority}" required placeholder="Enter Authority">
        </div>
        <div>
            <label>Content</label>
            <input class="form-control" type="text" th:field="*{content}" required placeholder="Enter content">
        </div>
        <div>
            <label>Category</label>
            <select  class="form-select" name="category"  th:field="*{categories}">
                <option th:value="${category.id}" th:each="category:${categoryList}" th:text="${category.name}"></option>
            </select>
        </div>
        <button class="btn btn-success mt-2">Create</button>
    </form>
</div>
<script th:replace="~{Common::js}"></script>
</body>
</html>